<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head> <!--Title-->
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<title>A Scala PokeDex</title>
	<!---Links to jQuery library-->
	<script src="scripts/jquery.js"></script>
	<link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.css">
	<script src="jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
	<script src="jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<!--link to the pokedex.css stylesheet-->
	<link rel= "stylesheet" type="text/css" href="scaladex.css" title="style"/>
</head>

<body>
<!---Top navigation bar--->
<div class = "topnav">
	<a class = "active" href="pokedex1.html">SEARCH!</a>
	<div class="topnav-right">
		<h1 class = "title">A Scala PokeDex</h1>
	</div>
</div>
<!--Two column layout-->
	<div class = left>
		<div class="content">
			<input class="rounded-input2" type="text" id="player1" name="pokemon" placeholder="Player 1">
			<img class="pokedex-img" src="trainer1.png" alt="Player Picture" width="475" height="600">
	</div>
</div>
	<div class = right>
		<div class="content">
		<input class="rounded-input2" type="text" id="player2" name="pokemon2" placeholder="Player 2">
		<img class="pokedex-img" src="trainer2.png" alt="Player Picture" width="475" height="600">
	</div>
	</div>
<!--button-->
<div class = "center-up">
	<button class="button2">Fight!</button>
</div>
<!---Creates sidebar that contains instructions-->
<div class="instruction_bar">
	<p>Welcome to the Scala PokeDex Battle Simulator. Please start typing a pokemon for each player,
		choose a pokemon from the list, and press the Fight button to battle!</p>
</div>
<!---Contains script for autofill-->
<script src ="autofill.js"></script>
</body>
</html>