@()

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head> <!--Title-->
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>A Scala PokeDex</title>
            <!-- URL Tab Icon -->
        <link rel="icon" href="@routes.Assets.versioned("images/pokeball-icon.jpg")">
            <!---Links to jQuery library-->
        <script src="@routes.Assets.versioned("src/jquery.js")"></script>
        <script src="@routes.Assets.versioned("src/getname.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("jquery-ui-1.12.1.custom/jquery-ui.min.css")">
        <script src="@routes.Assets.versioned("jquery-ui-1.12.1.custom/external/jquery/jquery.js")"></script>
        <script src="@routes.Assets.versioned("jquery-ui-1.12.1.custom/jquery-ui.min.js")"></script>
            <!--link to the pokedex.css stylesheet-->
        <link rel= "stylesheet" type="text/css" href="@routes.Assets.versioned("css/scaladex.css")" title="style"/>
    </head>

    <body>
            <!---Top navigation bar--->
        <div class = "topnav">
            <a class = "active" href="../scaladex/search">SEARCH!</a>
            <div class="topnav-right">
                <h1 class = "title">A Scala PokeDex</h1>
            </div>
        </div>
            <!--Two column layout-->
        <div class = left>
            <div class="content">
                <input class="rounded-input2" type="text" id="player1" name="pokemon" placeholder="Player 1">
                <img class="pokedex-img" src="@routes.Assets.versioned("images/trainer1.png")" alt="Player 1 Picture" width="475" height="600">
            </div>
        </div>
        <div class = right>
            <div class="content">

                <input class="rounded-input2" type="text" id="player2" name="pokemon2" placeholder="Player 2">
                <img class="pokedex-img" src="@routes.Assets.versioned("images/trainer2.png")" alt="Player 2 Picture" width="475" height="600">
            </div>
        </div>
            <!--button-->
        <div class = "center-up">
           <a id="battleButton"><button class="button2" onclick="getPokemonNamesForBattle('player1', 'player2', 'battleButton')">Fight!</button></a>
        </div>
            <!---Creates sidebar that contains instructions-->
        <div class="instruction_bar">
            <p>Welcome to the Scala PokeDex Battle Simulator. Please start typing a pokemon for each player,
                choose a pokemon from the list, and press the Fight button to battle!</p>
        </div>
            <!---Contains script for autofill-->
        <script src ="@routes.Assets.versioned("src/autofill.js")"></script>
    </body>
</html>