<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head> <!--Title-->
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>A Scala PokeDex</title>
    <!---Links to jQuery library-->
    <script src="../assets/src/jquery.js"></script>
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <script src="jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!--link to the pokedex.css stylesheet-->
    <link rel= "stylesheet" type="text/css" href="scaladex.css" title="style"/>
</head>

<body>
<!--Top navigation bar-->
<div class = "topnav">
    <a class = "active" href="pokedex1.html">Search</a>
    <div class="topnav-right">
    <h1 class = "title">A Scala PokeDex</h1>
    </div>
</div>
    <div class = "content">
        <div class = "status">Battle Commencing!</div>
    </div>
</body>
</html>