@(title: String)(content: Html)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head> <!--Title-->
        <div class = "topnav">
            <a class = "active" href="battle1.html">BATTLE!</a>
            <div class="topnav-right">
                <h1 class = "title">@title</h1>
            </div>
        </div>
            <!--link to the pokedex.css stylesheet-->
        <link rel= "stylesheet" type="text/css" href="assets/css/scaladex.css" title="style"/>
    </head>

    <body><!--creating the body of the page-->
        <div class="content">
            <input class="rounded-input" type="text" id="pokemon" name="pokemon" placeholder="Enter Pokemon">
            <img class="pokedex-img" src="blaziken.png" alt="Blaziken Picture" width="475" height="461">
            <button class="button2">Search!</button>
        </div>
        <div class="instruction_bar">
            <p>Welcome to the Scala PokeDex. Please enter a Pokemon and press the Search button to search!</p>
        </div>
    </body>
</html>