<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head> <!--Title-->
    <div class = "topnav">
        <a class = "active" href="#fight">BATTLE!</a>
        <div class="topnav-right">
            <h1 class = "title">A Scala PokeDex</h1>
        </div>
    </div>
    <!--link to the pokedex.css stylesheet-->
    <link rel= "stylesheet" type="text/css" href="scaladex.css" title="style"/>
</head>
<body>
<div class="content">
    <h1 class = "pokedex-result">Blaziken</h1>
    <img class="result-img" src="blaziken.png" alt="Blaziken Picture" width="475" height="461">
    <button class="button2">Search again?</button>
<table class="stats-table">
    <tr>
        <th>PokeDex ID</th>
        <th>Generation</th>
        <th>Type</th>
        <th>HP</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Special Attack</th>
        <th>Special Defense</th>
        <th>Speed</th>
    </tr>
        <td>257</td>
        <td>3</td>
        <td>Fire/Fight</td>
        <td>80</td>
        <td>120</td>
        <td>70</td>
        <td>110</td>
        <td>70</td>
        <td>80</td>
</table>
</div>
<div class="desc">
    <h2>Description</h2>
    <p>In battle, Blaziken blows out intense flames from its wrists and attacks foes courageously.
        The stronger the foe, the more intensely this Pokémon’s wrists burn. </p>
</div>
</body>
</html>