@(title: String)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

        <!-- Common Head Tag for All Application -->
    @head_tag("ScalaDex")

    <body><!--creating the body of the page-->
        <!---Creates top navigation bar--->
        <div class = "topnav">
            <a class = "active" href="../scaladex/battle">BATTLE!</a>
            <div class="topnav-right">
                <h1 class = "title">ScalaDex Search</h1>
            </div>
        </div>
            <!---Starts actual content of the page and places it in the middle of the page--->
        <div class="content">
            <input class="rounded-input" type="text" id="pokemon" name="poke-input" placeholder="Enter Pokemon">
            <img class="pokedex-img" src="@routes.Assets.versioned("images/blaziken.png")" alt="Blaziken Picture" width="475" height="461">
            <a id="pokedexSearch"><button class="button2" onclick="getPokemonNameForDex('pokemon', 'pokedexSearch')">Search!</button></a>
        </div>
            <!---Creates sidebar that contains instructions-->
        <div class="instruction_bar">
            <p>Welcome to the Scala PokeDex. Please start typing a pokemon, choose a pokemon from the list, and press the Search button to search!</p>
        </div>
            <!---Contains script for autofill-->
        <script src ="@routes.Assets.versioned("src/autofill.js")"></script>
    </body>
</html>